*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root
{
  --bs-warning-rgb: 235, 165, 0 !important;
  /* --bs-danger-rgb: 225, 0, 0 !important; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input
{
  border: solid;
  outline: none;
}



.left-0
{
  left: 0;
}
.right-0
{
  right: 0;
}
.bg-dark-gray-gradient
{
  background: linear-gradient(rgb(108,117,125) 10%, rgb(105, 105, 105)) !important;
}
.bg-light-gradient
{
  background: linear-gradient(white, rgb(212, 212, 212)) !important;
}

.section-title
{
  border-radius: 0 0.3rem 0 0 !important;
}

.page-container
{
  height: 1500px;
}

.user-page-container
{
  height: 100vh;
}

.large-title
{
  font-size: 5rem;
}

.navbar
{
  z-index: 1 !important;
}
.offcanvas-backdrop
{
  z-index: 0 !important;
}
.nav-item > .nav-link
{
  color: black !important;
}
.carousel-inner, .carousel-item
{
  height: 100% !important;
}
.carousel-control-next, .carousel-control-prev
{
  width: 5rem !important;
  opacity: 1 !important;
}
.carousel-control-next > span, .carousel-control-prev > span
{
  padding: 1rem !important;
  border-radius: 50%;
  background-color: black !important;
}



.product-card
{
  transition: scale 0.1s ease-out;
}
.product-card:hover
{
  scale: 1.05;
}

.product-card-rating
{
  bottom: 100%;
}

.product-card-count
{
  transform: translate(-50%, -50%);
}

.product-card-count-btn-row
{
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.product-card-count-btn
{
  aspect-ratio: 1;
}
.product-card:hover .product-card-count-btn-row
{
  opacity: 1;
}

.product-spec
{
  transition: scale 0.1s ease-out;
  cursor: pointer;
}
.product-spec:hover
{
  scale: 1.02;
}

.social-media-row
{
  width: fit-content;
}
.social-media-row:hover .social-media-icon::before
{
  opacity: 0;
  transition-duration: 0.2s;
}
.social-media-icon
{
  z-index: 0;
  cursor: pointer;
  transition: scale 0.5s ease-out;
}
.social-media-icon::before
{
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgb(100, 116, 197);
  z-index: -1;
  transition: opacity 0.5s ease-out;

}
.social-media-icon:hover
{
  scale: 1.1;
  transition-duration: 0.1s;
}

.footer-link a
{
  transition: transform 0.2s ease-out;
}
.footer-link:hover a
{
  transform: translateX(1rem);
}

.rounded-top-left-0
{
  border-radius: 0.5rem;
  border-top-left-radius: 0;
}

.footer-link::before
{
  content: "";
  position: absolute;
  left: 0;
  width: 0.25rem; height: 100%;
  scale: 1 0;
  background-color: deepskyblue;
  transition: scale 0.1s ease-in;
}

.footer-link:hover::before
{
  scale: 1 1;
}

.error-message
{
  animation: error-message 0.2s ease-out forwards;
}

@keyframes error-message {
  0% {transform: translateX(0);}
  25% {transform: translateX(0.5rem);}
  75% {transform: translateX(-0.5rem);}
  0% {transform: translateX(0);}
}






/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) 
{
  .header-content, .offer-content
  {
    width: 100% !important;
  }
  .large-title
  {
    font-size: 4.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) 
{
  
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) 
{
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px)
{
  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px)
{
  
}