*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input
{
  border: solid;
  outline: none;
}

.left-0
{
  left: 0;
}
.right-0
{
  right: 0;
}

.page-container
{
  height: 1500px;
}

.product-card
{
  transition: scale 0.1s ease-out;
}
.product-card:hover
{
  scale: 1.05;
}

.product-spec
{
  transition: scale 0.1s ease-out;
  cursor: pointer;
}
.product-spec:hover
{
  scale: 1.02;
}