*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root
{
  --bs-warning-rgb: 235, 165, 0 !important;
  --bs-primary-rgb: 31, 108, 250 !important;
  --bs-info-rgb: 70, 175, 240 !important;
  --bs-secondary-rgb: 85, 95, 115 !important;
  /* --bs-secondary-bg-subtle-rgb: 86, 113, 166 !important; */

  --primary: rgb(31, 108, 250);
  --primary-hover: rgb(20, 86, 216);
  --primary-active: rgb(18, 74, 185);
  
  --info: rgb(70, 175, 240);
  
  --warning: rgb(235, 165, 0) !important;
  --bs-warning-text-emphasis: rgb(201, 124, 9) !important;
  --bs-primary-bg-subtle: rgb(232, 234, 255) !important;
  --bs-secondary-bg-subtle: rgb(141, 169, 194) !important;

  --bs-secondary: rgb(85, 95, 115);
  --bs-secondary-dark: rgb(75, 85, 100);
  /* --bs-danger-rgb: 225, 0, 0 !important; */

  /* --bg-main: white;
  --bg-shade: lightgray;
  --bg-dark: gray;
  --bg-dark-shade: dimgray;

  --accent: lightblue;
  --accent-2: deepskyblue;

  --red: red;
  --gold: gold;
  --dark: black; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input
{
  border: solid;
  outline: none;
}



.left-0
{
  left: 0;
}
.right-0
{
  right: 0;
}
.top-100
{
  top: 100%;
}
.bottom-100
{
  bottom: 100%;
}
.bg-dark-gray-gradient
{
  background: linear-gradient(rgb(var(--bs-secondary-rgb)) 10%, var(--bs-secondary-dark)) !important;
}
.bg-white-gradient
{
  background: linear-gradient(white, rgb(212, 212, 212)) !important;
}
.bg-light-gradient
{
  background: linear-gradient(var(--bs-light) 75%, rgb(224, 224, 224)) !important;
}
.bg-light-gray-gradient
{
  background: linear-gradient( var(--bs-secondary-bg-subtle) 90%, rgb(200, 200, 200) 100%) !important;
}

.gray-shadow
{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}

.w-xs-100
{
  width: 100% !important;
}

.aspect-1
{
  aspect-ratio: 1;
}


.btn-primary
{
  --bs-btn-bg: var(--primary) !important;
  --bs-btn-hover-bg: var(--primary-hover) !important;
  --bs-btn-hover-border-color: var(--primary-hover) !important;
  --bs-btn-active-bg: var(--primary-active) !important;
  --bs-btn-active-border-color: var(--primary-active) !important;
}

.price-tag::after
{
  content: "EGP";
  height: fit-content; width: fit-content;
  font-size: 0.6em;
  font-weight: 500;
  margin-inline-start: 0.25em;
}
.price-old
{
  display: inline-block;
  position: relative;
}
.price-old::before
{
  content: "";
  position: absolute;
  top: 50%; left: 0;
  width: 100%;
  height: 0.05em;
  background-color: black;
  transform: translateY(-50%) rotate(15deg);
}

.accordion-item.bg-transparent *
{
  background: transparent !important;
}

.section-title
{
  border-radius: 0 0.3rem 0 0 !important;
}

.page-container
{
  min-height: 100vh !important;
}

.header-content > p
{
  color: rgb(195, 200, 177);
}
.large-title
{
  font-size: min(5em,20vw);
}
.feature-box
{
  font-size: 1rem;
  width: 20em;
  text-indent: 3em;
  border: 5px solid var(--bs-secondary);
  border-width: 0 5px 5px 0;
}
.feature-box > div
{
  border: 5px solid var(--bs-secondary);
  border-width: 0 5px 5px 0;
  height: 60px; width: 80px;
  top: -30px; left: -40px;
}

.navbar
{
  z-index: 2 !important;
}
.offcanvas-backdrop
{
  z-index: 0 !important;
}
.nav-item > .nav-link
{
  font-weight: 500;
  color: white !important;
}
.nav-item > .nav-link.active
{
  color: black !important;
}
.carousel-inner, .carousel-item
{
  height: 100% !important;
}
.carousel-control-next, .carousel-control-prev
{
  width: 5rem !important;
  opacity: 1 !important;
}
.carousel-control-next > span, .carousel-control-prev > span
{
  padding: 1rem !important;
  border-radius: 50%;
  background-color: black !important;
}

.offer-timer-box
{
  height: 2em; aspect-ratio: 1;
  font-size: 1.5em;
  color: white;
  display: flex;
  align-items: center; justify-content: center;
  position: relative;
}
.offer-timer-box > span
{
  font-size: 0.25em;
  color: lightgray;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}
.offer-timer-box > .counter-halves
{
  perspective: 1000px;
}
.offer-timer-box > .counter-halves > .counter-half
{
  width: 100%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);

}
.offer-timer-box > .counter-halves > .counter-half.mid
{
  translate: px;
  opacity: 0;
  z-index: 2;
}
.offer-timer-box.animation > .counter-halves > .counter-half.top
{
  animation: counter-half-top 0.25s ease-in forwards;
}
.offer-timer-box.animation > .counter-halves > .counter-half.mid
{
  animation: counter-half-mid 0.25s 0.25s ease-out forwards;
}
/* .offer-timer-box.animation > .counter-halves > .counter-half.bottom
{
  animation: counter-half-bottom 0.25s 0.25s ease-out forwards;
} */
.offer-timer-box > .counter-halves > .counter-half > span
{
  transform: translateY(25%);
}
.offer-timer-box.animation > .counter-halves > .counter-half.mid > span
{
  transform: scaleY(-1) translateY(-75%);
}
.offer-timer-box > .counter-halves > .counter-half.bottom > span
{
  transform: translateY(-75%);
}

@keyframes counter-half-top
{
  0% {transform: rotateX(0);}
  50% {box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);}
  100% {transform: rotateX(-90deg); box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);}
}

@keyframes counter-half-mid
{
  0% {transform: rotateX(-90deg); opacity: 1;}
  /* 90% {opacity: 1;} */
  100% {transform: rotateX(-180deg); opacity: 1;}
}

@keyframes counter-half-bottom
{
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.main-button
{
  position: relative;
  background: linear-gradient(120deg, rgb(25, 45, 65) 65%, black 0);
  background-size: 180% 100%;
  background-position: 75% 0%;
  z-index: 0;
  overflow: hidden;
  transition: background-position 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;

}
.main-button:hover
{
  background-position: 0 0%;
}
.main-button::before
{
  content: "";
  position: absolute;
  top: 0; left: 0;
  height: 200%; width: 15%;
  opacity: 1;
  background-color: rgb(115, 139, 161);
  transform: translate(-250%,-30%) skew(-30deg);
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
.main-button:hover::before
{
  transform: translate(20%,-30%) skew(-30deg);
}


.shop-page-shopping-col
{
  padding-top: 0;
}
.product-card
{
  transition: scale 0.1s ease-out;
  font-size: 0.6rem;
}

.product-card-img
{
  font-size: 1em;
  /* margin: 0 2em; */
}
.product-card-title
{
  font-size: 2em !important;
}
.product-card-price
{
  font-size: 2.5em;
}



.product-card-rating
{
  bottom: 100%;
}

.product-card-count-container
{
  font-size: 0.8em;
}
.product-card-count-container span
{
  font-size: 1.25em;
}
.product-card-count-container button
{
  font-size: 1em;
}


.product-card-count-btn-row
{
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
.product-card-count-btn
{
  aspect-ratio: 1;
}
.product-card:hover .product-card-count-btn-row
{
  opacity: 1;
}

.product-spec
{
  transition: scale 0.1s ease-out;
}
.product-spec:hover
{
  scale: 1.02;
}



.scrollbar
{
  overflow-y: hidden !important;
  /* overflow-x: scroll !important; */

  border-bottom-right-radius: 0.35rem !important;
  border-bottom-left-radius: 0.35rem !important;
}
.scrollbar.dark
{
  --border-color: rgb(var(--bs-secondary-rgb));
  --bg-color: var(--bs-secondary-bg-subtle);
}
.scrollbar.light
{
  --border-color: var(--bs-light);
  --bg-color: var(--bs-secondary-bg-subtle);
}
.scrollbar.white
{
  --border-color: white;
  --bg-color: var(--bs-secondary-bg-subtle);
}
.scrollbar::-webkit-scrollbar
{
  appearance: none;
  padding: 3rem;
}
.scrollbar::-webkit-scrollbar-thumb
{
  background-color: var(--bg-color);
  border: 0.3em solid var(--border-color);
  border-radius: 0.5em;
}


.product-page-col
{
  padding: 0;
}

.product-img-preview
{
  background-color: white !important;
  background: url("img/phone.png");
  /* background-position: center !important; */
  background-size: 200% !important;
  background-repeat: no-repeat;

  cursor: zoom-in;
  opacity: 0;
  transition: opacity 0.2s ease-out
}


.social-media-row
{
  width: fit-content;
}
.social-media-row:hover .social-media-icon::before
{
  opacity: 0;
  transition-duration: 0.2s;
}
.social-media-icon
{
  width: fit-content;
  z-index: 0;
  cursor: pointer;
  transition: scale 0.5s ease-out;
}
.social-media-icon::before
{
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgb(131, 135, 158);
  z-index: -1;
  transition: opacity 0.5s ease-out;

}
.social-media-icon:hover
{
  scale: 1.1;
  transition-duration: 0.1s;
}


.navbar-link::before
{
  content: "";
  position: absolute;
  bottom: -0.5em;
  width: 100%; height: 0.25em;
  scale: 0 1;
  background-color: deepskyblue;
  transition: scale 0.1s ease-out;
}

.navbar-link:hover, .navbar-link.active
{
  color: deepskyblue !important;
}
.navbar-link:hover::before, .navbar-link.active::before
{
  scale: 1 1;
}
.cart-link *
{
  transition: color 0.2s ease-out;
}
.cart-link:hover > *:first-child
{
  color: deepskyblue !important;
}



.footer-link a
{
  transition: transform 0.2s ease-out;
}
.footer-link:hover a
{
  transform: translateX(1rem);
}
.footer-link::before
{
  content: "";
  position: absolute;
  left: 0;
  width: 0.25rem; height: 100%;
  scale: 1 0;
  background-color: deepskyblue;
  transition: scale 0.1s ease-out;
}

.footer-link:hover a, .footer-link.active a
{
  color: deepskyblue !important;
}
.footer-link:hover::before, .footer-link.active::before
{
  scale: 1 1;
}

.error-message
{
  font-size: 0.8rem;
  animation: error-message 0.2s ease-out forwards;
}

@keyframes error-message {
  0% {transform: translateX(0);}
  25% {transform: translateX(0.5rem);}
  75% {transform: translateX(-0.5rem);}
  0% {transform: translateX(0);}
}

.cart-sidebar
{
  max-width: 100.5% !important;
}
.cart-sidebar-btn
{
  font-size: 0.5rem !important;
  border-radius: 0.5rem 0 0 0.5rem !important;
  z-index: 1;
  top: 90vh;
}
.cart-sidebar-btn.btn-out
{
  right: 0;
  opacity: 0.75;
}
.cart-sidebar-btn.btn-in
{
  right: 100%;
}
.cart-sidebar-btn > *
{
  font-size: 4em;
  padding: 0.1em;
  /* padding-inline-end: 0.2em; */
}

.profile-dropdown .dropdown-toggle
{
  padding: 0 !important;
}
.profile-dropdown .dropdown-toggle::after
{
  content: none;
}


.navbar-profile-menu:where(:hover) .navbar-profile-dropdown
{
  max-height: 1000px;
  transform: scaleY(1);
}
.navbar-profile-menu:where(:hover) .navbar-profile-dropdown-container
{
  pointer-events: auto;
}
.navbar-profile-button
{
  cursor: pointer;
}
.navbar-profile-dropdown-container
{
  width: 10rem;
  pointer-events: none;
  padding-top: 0.55rem;
  top: 100%;
}
.navbar-profile-dropdown
{
  max-height: 0;
  pointer-events: auto;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-out, max-height 0.2s ease-out;
  top: 100%;
}
.navbar-profile-dropdown > *
{
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}
.navbar-profile-dropdown > *:hover
{
  background-color: rgb(225, 231, 233) !important;
}

.auth-form-container
{
  width: min(576px,100vw);
}


.product-info-row-group
{
  overflow-x: scroll;
}

.product-info-row
{
  width: max(1000px,100%);

  transition: scale 0.2s ease-out;
}
.product-info-row:hover
{
  /* scale: 1.005; */
  z-index: 1;
}
.product-info-row-options
{
  width: auto !important;
  top: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.product-info-row:hover .product-info-row-options
{
  opacity: 1;
}

.dropdown-select.selected
{
  background-color: var(--primary);
}
.dropdown-select.selected .dropdown-item-check
{
  display: block !important;
}
.dropdown-select.selected *
{
  color: white !important;
}
.dropdown-select.selected:hover
{
  background-color: var(--primary) !important;

}
.dropdown-select.selected *:hover
{
}
.product-show-modal
{
  width: 800px !important;
  max-width: 100vw !important;
}

.modal
{
  display: flex !important;
  align-items: start !important; justify-content: center !important;
}
.form-floating input
{
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-color 0.2s ease-out !important;
}
.form-floating label::after
{
  background-color: transparent !important;
}
.register-stage-label > div
{
  background-color: transparent !important;
  color: var(--bs-secondary-bg-subtle);
  height: min(3.5rem,15vw);
  position: relative;
  border: 0.1em solid var(--bs-secondary-bg-subtle);

  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.register-stage-label span
{
  font-size: 0.55em;
  color: var(--bs-secondary-bg-subtle);
  top: calc(100% + 0.25em);
  transition: transform 0.2s ease-out;
}

.register-stage-label:not(:first-child)::before
{
  --m: 0.4rem;
  content: "";
  width: min(4rem,8vw); height: 0.3rem;
  background-color: var(--bs-secondary-bg-subtle);
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.2s ease-out;
}
.register-stage-label.active:not(:first-child)::before
{
  scale: 1.2 1;
}
.register-stage-label.active > div
{
  background-color: var(--bs-secondary-bg-subtle) !important;
  color: white;
}
.register-stage-label.active span
{
  scale: 1.1;
}


.product-cart-item .product-cart-item-options
{
  height: 1.8rem;
}

.product-cart-item .product-cart-item-options input
{
  width: 4rem;
}

.product-cart-item .product-cart-item-bottom-row.above-small
{
  display: none;
}

.product-cart-item .favorite-button
{
  font-size: 0.7rem !important;
  padding: 0.5em !important;
}

.product-cart-item .product-cart-item-title
{
  font-size: 1.2rem;
}

.product-cart-item .product-cart-item-rating
{
  font-size: 0.6rem;
  gap: 0.2em;
}

.product-cart-item .product-card-item-small-col
{
  display: block;
}

.slider-container .slider
{
  gap: 0.5rem !important;
}

.cart-overview-accordion .accordion-header .accordion-button
{
  background-color: var(--bs-light);
  box-shadow: none;
}
.cart-overview-accordion .accordion-header .accordion-button.collapsed
{
    background-color: white;
}
.profile-nav-button p
{
  transition: color 0.2s ease-out;
}
.profile-nav-button.active p
{
  color: white !important;
}

.purchase-accordion .accordion-header .accordion-button
{
  background-color: transparent !important;
  box-shadow: none;

}
.purchase-accordion.purchase-record .accordion-header .accordion-button
{
  padding: 0.5rem 0 !important;
}
.purchase-detail-info
{
  font-size: 0.8rem;
}
.accordion-header .accordion-button:focus
{
  z-index: 1;
}

.purchase-loading-text::after
{
  content: "";
  animation: loading-dots 2s 0.1s linear infinite;
}
@keyframes loading-dots {
  0% {content: "";}
  25% {content: ".";}
  50% {content: "..";}
  75% {content: "...";}
  100% {content: "...";}
}

.loading-completed
{
  font-size: 1rem;
  height: 15em; aspect-ratio: 1;
  background-color: limegreen;
  border-radius: 50%; position: relative;
}
.loading-completed
{
  position: relative;
  animation: loading-completed-pop 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loading-completed .check-small
{
  height: 6em; width: 3em;
  position: absolute;
  top: 6.75em; left: 1.4em;
  rotate: -45deg;
  transform-origin: top;

}
.loading-completed .check-small::before
{
  content: "";
  background-color: white;
  position: absolute;
  inset: 0;
  transform-origin: top;
  animation: check-fill 0.5s linear forwards;
  scale: 1 0;
}
.loading-completed .check-long
{
  height: 10em; width: 3em;
  position: absolute;
  top: 2.5em; left: 7.1em;
  rotate: 45deg;
}
.loading-completed .check-long::before
{
  content: "";
  background-color: white;
  position: absolute;
  inset: 0;
  transform-origin: bottom;
  animation: check-fill 0.5s linear forwards 0.45s;
  scale: 1 0;
}
@keyframes check-fill {
  0% {scale: 1 0;}
  100% {scale: 1 1;}
}
@keyframes loading-completed-pop {
  0% {font-size: 0;}
  100% {font-size: 1rem;}
}




.homepage-header
{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), black), url("img/freestocks-BStW5kYXw4E-unsplash.jpg");
  background-size: cover, cover;
}



@media (min-width: 320px)
{
  .product-cart-item .product-cart-item-bottom-row.above-small
  {
    display: flex;
  }

  .product-cart-item .product-card-item-small-col
  {
    display: none;
  }

  .offer-timer-box
  {
    font-size: 2rem;
  }
}
@media (min-width: 375px)
{
  .product-card
  {
    font-size: 0.8rem;
  }
  .offer-timer-box
  {
    font-size: 2.5rem;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) 
{
  .header-content, .offer-content
  {
    width: 100% !important;
  }


  .w-sm-auto
  {
    width: auto !important;
  }
  .w-sm-50
  {
    width: 50% !important;
  }
  .w-sm-75
  {
    width: 75% !important;
  }

  .rounded-sm-1 {border-radius: 0.25rem !important;}
  .rounded-sm-2 {border-radius: 0.375rem !important;}
  .rounded-sm-3 {border-radius: 0.5rem !important;}
  .rounded-sm-4 {border-radius: 1rem !important;}

  .cart-sidebar-btn
  {
    font-size: 0.75rem !important;
    top: 85%;
  }

  .rounded-top-left-0
  {
    border-radius: 1rem !important;
    border-top-left-radius: 0 !important;
  }
  
  .product-info-row-options
  {
    right: 0 !important; left: unset !important;
  }

  .error-message
  {
    font-size: 1rem;
  }

  .product-cart-item .product-cart-item-options
  {
    height: 2.2rem;
  }
  .product-cart-item .favorite-button
  {
    font-size: 0.8rem !important;
    padding: 0.5em !important;
  }

  .product-cart-item .product-cart-item-title
  {
    font-size: 2rem;
  }

  .product-cart-item .product-cart-item-rating
  {
    font-size: 1rem;
    gap: 0.2em;
  }

  .purchase-detail-info
  {
    font-size: 1rem;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 
{
  .slider-container
  {
    padding: 0 6rem;
  }

  .product-card
  {
    font-size: 1rem;
  }
  .product-card-title
  {
    font-size: 1.2em !important;
  }
  .product-card-price
  {
    font-size: 1.6em;
  }
  .product-card-img
  {
    margin: 0;
  }
  .shop-page-shopping-col
  {
    padding-top: 4.85rem;
  }

  .w-md-50{width: 50% !important;}
  .w-md-75{width: 75% !important;}

  .rounded-md-3 {border-radius: 0.5rem !important;}
  .rounded-md-4 {border-radius: 1rem !important;}


  .product-page-col
  {
    padding-inline-start: 2rem;
  }

  .cart-sidebar-btn
  {
    font-size: 1rem !important;
  }

  .product-card-count-container
  {
    transform: translate(-50%, -1em);
    font-size: 1em;
  }

  .product-card:hover
  {
    scale: 1.035;
    z-index: 1;
  }

  .product-card-count-btn-row
  {
    opacity: 0;
  }

  .slider-container .slider
  {
    gap: 1.5rem !important;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 
{

  .w-lg-50{width: 50% !important;}
  .w-lg-75{width: 75% !important;}

  .product-cart-item .product-cart-item-options input
  {
   width: 6rem;
  }
  .offer-timer-box
  {
    font-size: 3rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  .offer-timer-box
  {
    font-size: 4rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px)
{
  
}